.paginationContainer {
  color: red;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 63vw;
  margin-left: -2.4em;
}
.paginationContainer > * > * {
  border: 2px solid #39a2db;
  padding: 0.5em;
  background-color: #fa5252;
  border-radius: 40%;
  color: white;
}

.paginationContainer > * > *:hover {
  cursor: pointer;
}

.selectedPage > * {
  color: white !important;
  text-decoration: none;
  border: 2px solid #fa5252;
  border-radius: 40%;
  padding: 0.5em;
  background-color: #39a2db;
  cursor: default !important;
}

#root {
  background: #053742;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.navBar {
  width: 100%;
  border: 1px solid #39a2db;
  background-color: #39a2db;
  height: 8vh;
}

.navBar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navBar ul li a {
  text-decoration: none;
  color: white;
}

.pageContainer {
  width: 98vw;
}

.pokemonPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.pokemonPage h1 {
  text-align: center;
}

.boxWithRadius {
  background-color: #39a2db;
  border-radius: 2rem;
  color: #053742; /* 
  padding: 1em; */
}

.carousel {
  width: 50%;
  background-color: #39a2db;
  border-radius: 2rem;
}
.pkmImgBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  gap: 2em;
}
.pkmImgBox div {
  text-align: center;
  padding: 1em;
  width: 100%;
  border: 2px solid #39a2db;
  border-radius: 2rem;
  background-color: #053742;
  color: #fa5252;
  font-weight: 600;
}

.pkmImg {
  width: 50%;
}

.typesAndAbility {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 20vh;
}

.typesBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  width: 50%;
  padding: 1em;
  max-height: 100%;
  min-height: 100%;
}

.type {
  color: white;
  padding: 0.5em 1em;
  width: 60%;
  text-align: center;
  border-radius: 2em;
  border: 1px solid #053742;
}

.abilitiesBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.7em;
  width: 50%;
  padding: 1em;
  min-height: 100%;
  max-height: 100%;
}

.abilitiesTxt {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.drkBlueBox {
  width: 100%;
  text-align: center;
  background-color: #053742;
  padding: 1em;
  margin-top: 0;
  border-radius: 2em;
  font-weight: 600;
  color: #fa5252;
}

.baseStatsBox {
  width: 50%;
  text-align: center;
  border: 1px solid black;
  padding: 1em;
}

.baseStatsInner {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 70%;
  margin-bottom: 1em;
  color: white;
}

.stat {
  display: grid;
  grid-template-columns: 20% 180%;
  gap: 1em;
  font-weight: 700;
  align-items: center;
}

.statBar {
  border-radius: 16px;
  height: 2em;
  border: 1px solid #053742;
}

.baseStatName {
  width: 100%;
  text-align: left;
  padding-left: 3em;
  font-weight: 600;
}

.whiteText {
  color: white;
}

.baseStatContainer {
  width: 50%;
  padding-left: 4em;
}

.Tabs {
  width: 100%;
  height: auto;
  min-height: 400px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  margin-top: 0;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}

ul.nav {
  width: 100%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #39a2db;
  border-radius: 2rem;
  padding-left: 0px;
  color: #fa5252;
  font-weight: 800;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.nav li {
  width: 33.3%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  height: 100%;
}

ul.nav li:nth-child(2) {
  border-radius: 0;
  /* border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem; */
}
ul.nav li:nth-child(3) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: #39a2db;
  color: white;
}
ul.nav li.active {
  background: #39a2db;
  color: white !important;
}

.pkmLink {
  text-decoration: none;
  color: black;
}

table td {
  background-color: #39a2db;
  text-align: center;
}

.tableLink {
  text-decoration: none;
  color: white;
}

.loader {
  margin-top: 45.594vh;
}

#moveTableHeader {
  text-align: "center" !important;
  color: "#fa5252" !important;
}
